@media screen and (max-width: 767px) {

    html,
    body {
        height: 100%;
        margin: 0;
    }

    .main-panel.Clouds,
    .main-panel.Haze,
    .main-panel.Clear,
    .main-panel.Rain,
    .main-panel.Thunderstorm,
    .main-panel.Snow,
    .main-panel.Drizzle {
        background-color: #000;
    }

    .card1.Clouds,
    .card1.Haze,
    .card1.Clear,
    .card1.Rain,
    .card1.Thunderstorm,
    .card1.Snow,
    .card1.Drizzle {
        background-image: none;
    }

    .card1 {
        /* position: absolute;
        top: 0; */
        display: none;
    }

    /* .card1 .logo {
        position: absolute;
        left: 20px;
        top: 7px;
        font-size: 1.2rem;
    } */

    .card2 {
        /* position: absolute;
        bottom: 0;
        left: 0; */
        height: 100%;
        padding: 0px 0px 0px 40px;
    }

    .back-detail-wallpaper {
        margin: 0 auto;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: unset;
        border-radius: 0;
    }

    .back-detail-wallpaper .city h2 {
        font-size: 1rem;
    }

    .back-detail-wallpaper .icons {
        position: relative;
        bottom: 19px;
    }

    .back-detail-wallpaper .icons img {
        position: relative;
        top: 13px;
    }

    .select-btn-btn {
        bottom: -1px;
    }

    .large-font {
        font-size: 35px;
        font-family: Arial;
        position: relative;
        top: 15px;
    }

    .mobile-v {
        display: unset;
    }

    .mobile-v-temp {
        display: flex;
    }
}