html,
body {
    height: 100% !important;
    margin: 0 !important;
}

.main-panel {
    color: #fff;
    overflow-x: hidden;
    height: 100%;
    /* background-image: linear-gradient(#81D4FA, #2196F3); */
    /* background-color: #293234; */
    background-repeat: no-repeat
}

.main-panel.Clouds {
    background-color: #75cff8;
}

.main-panel.Haze {
    background-color: #1f2915;
}

.main-panel.Clear {
    background-color: #79a7bb;
}

.main-panel.Rain {
    background-color: #2f4047;
}

.main-panel.Drizzle {
    background-color: #2f4047;
}

.main-panel.Thunderstorm {
    background-color: #524c46;
}

.main-panel.Snow {
    background-color: #eeeeee;
}

.card0 {
    width: 94%
}

.card1.Clouds {
    background-image: url('/public/assets/image/background/Cloudy2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.card1.Clear {
    background-image: linear-gradient(#2196F3, #81D4FA);
}

.card1.Rain {
    background-image: url('/public/assets/image/background/Rain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.card1.Drizzle {
    background-image: url('/public/assets/image/background/Rain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.card1.Snow {
    background-image: url('/public/assets/image/background/Snow.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.card1.Thunderstorm {
    background-image: url('/public/assets/image/background/Thunderstorm.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.card1.Haze {
    background-image: url('/public/assets/image/background/Haze.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.card1 {
    /* background-image: linear-gradient(#2196F3, #81D4FA); */
    background-size: auto 100%;
    background-repeat: no-repeat;
    padding: 30px 20px 30px 50px;
    border-radius: 5px 0 0 5px;
}


/* Start Cart2 Clouds Section */
.card2.Clouds {
    background-color: #000;
}

.card2.Clouds .title-details {
    color: #2296F3;
}

.card2.Clouds input {
    color: #fff;
    border-bottom: 1px solid #fff !important;
}

.card2.Clouds .title-text {
    color: #5DBDF7
}

.card2.Clouds .result-text {
    color: #5DBDF7;
}

.card2.Clouds .fa-search {
    background-color: #2296F3;
    color: #fff;
}

.card2.Clouds .line {
    background-color: #fff;
}

/* End Clouds Section */

/* Start Cart2 Haze Section */
.card2.Haze {
    background-color: #000;
}

.card2.Haze .title-details {
    color: #fff;
}

.card2.Haze input {
    color: #fff;
    border-bottom: 1px solid #fff !important;
}

.card2.Haze .title-text {
    color: #869280
}

.card2.Haze .result-text {
    color: #869280;
}

.card2.Haze .fa-search {
    background-color: #5A7154;
    color: #fff;
}

.card2.Haze .line {
    background-color: #fff;
}

/* End Haze Section */

/* Start Cart2 Clear Section */
.card2.Clear {
    background-color: #000;
}

.card2.Clear .title-details {
    color: #2296F3;
}

.card2.Clear input {
    color: #fff;
    border-bottom: 1px solid #fff !important;
}

.card2.Clear .title-text {
    color: #5DBDF7
}

.card2.Clear .result-text {
    color: #5DBDF7;
}

.card2.Clear .fa-search {
    background-color: #2296F3;
    color: #fff;
}

.card2.Clear .line {
    background-color: #fff;
}

/* End Clear Section */

/* Start Cart2 Rain Section */
.card2.Rain {
    background-color: #000;
}

.card2.Rain .title-details {
    color: #2296F3;
}

.card2.Rain input {
    color: #fff;
    border-bottom: 1px solid #fff !important;
}

.card2.Rain .title-text {
    color: #BBCCDC
}

.card2.Rain .result-text {
    color: #BBCCDC;
}

.card2.Rain .fa-search {
    background-color: #35627F;
    color: #fff;
}

.card2.Rain .line {
    background-color: #fff;
}

/* End Rain Section */

/* Start Cart2 Drizzle Section */
.card2.Drizzle {
    background-color: #000;
}

.card2.Drizzle .title-details {
    color: #2296F3;
}

.card2.Drizzle input {
    color: #fff;
    border-bottom: 1px solid #fff !important;
}

.card2.Drizzle .title-text {
    color: #BBCCDC
}

.card2.Drizzle .result-text {
    color: #BBCCDC;
}

.card2.Drizzle .fa-search {
    background-color: #35627F;
    color: #fff;
}

.card2.Drizzle .line {
    background-color: #fff;
}

/* End Drizzle Section */

/* Start Cart2 Thunderstorm Section */
.card2.Thunderstorm {
    background-color: #000;
}

.card2.Thunderstorm .title-details {
    color: #dddad8;
}

.card2.Thunderstorm input {
    color: #fff;
    border-bottom: 1px solid #fff !important;
}

.card2.Thunderstorm .title-text {
    color: #C0B0A1
}

.card2.Thunderstorm .result-text {
    color: #C0B0A1;
}

.card2.Thunderstorm .fa-search {
    background-color: #C0B0A1;
    color: #fff;
}

.card2.Thunderstorm .line {
    background-color: #fff;
}

/* End Thunderstorm Section */

/* Start Cart2 Snow Section */
.card2.Snow {
    background-color: #000;
}

.card2.Snow .title-details {
    color: #dddad8;
}

.card2.Snow input {
    color: #fff;
    border-bottom: 1px solid #fff !important;
}

.card2.Snow .title-text {
    color: #c6d9e6
}

.card2.Snow .result-text {
    color: #c6d9e6;
}

.card2.Snow .fa-search {
    background-color: #fff;
    color: #000;
}

.card2.Snow .line {
    background-color: #fff;
}

/* End Snow Section */

.back-detail-wallpaper {
    background-color: #2932348c;
    border-radius: 5px;
    display: flex;
    position: absolute;
    bottom: 10px;
}

.image {
    width: 300px;
    height: 300px
}

.large-font {
    font-size: 70px;
    font-family: Arial
}

.fa-sun-o {
    font-size: 22px
}

.card2 {
    /* background-color: #607D8B; */
    padding: 0px 0px 40px 40px;
    border-radius: 0 5px 5px 0;
    overflow: hidden;
}

input {
    background-color: transparent;
    padding: 24px 0px 12px 0px !important;
    width: 80%;
    box-sizing: border-box;
    border: none !important;
    /* border-bottom: 1px solid #CFD8DC !important; */
    font-size: 16px !important;
}

input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #fff !important;
    outline-width: 0;
    font-weight: 400
}

::placeholder {
    color: #B0BEC5 !important;
    opacity: 1
}

:-ms-input-placeholder {
    color: #B0BEC5 !important
}

::-ms-input-placeholder {
    color: #B0BEC5 !important
}

.fa-search {
    /* color: #607D8B; */
    /* background-color: #E1F5FE; */
    font-size: 20px;
    padding: 20px;
    width: 20%;
    cursor: pointer;
    border-radius: 5px 5px 5px 0 !important
}

.light-text {
    color: #B0BEC5
}

.suggestion:hover {
    color: #fff;
    cursor: pointer
}

.line {
    height: 1px;
    /* background-color: #B0BEC5 */
}

.select-btn-btn {
    border: 0;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 0px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-v {
    display: none;
}

.mobile-v-temp {
    display: none;
}

@media screen and (max-width: 500px) {
    .card1 {
        padding-left: 26px
    }
}