body {
	background-color: #222531;
}

.main-loading {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.main-loading img {
    width: 4%;
}

/* Mobile */
@media (max-width: 767px) {

    .main-loading {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
    }

    .main-loading img {
        width: 45%
    }
}