.section-search-container {
    position: relative;
}

.main-results-search {
    background-color: #ffffff;
    height: 200px;
    z-index: 3;
    overflow-y: auto;
    border-radius: 5px;
    border: 1px solid #CED4DA;
    position: absolute;
    top: 50px;
}

.search-results {
    display: block;
    color: #000000;
    margin-bottom: 10px;
    font-size: 0.8rem;
    /* border-bottom: 1px solid #CED4DA; */
    padding-bottom: 10px;
    padding-left: 10px;
}

.search-results:hover {
    color: #ee384e;
    text-decoration: none;
}

.first-result {
    margin-top: 25px;
}